.searchbar header {
        position: absolute;
        left: 40%;
        font-size: 50px;
        margin: 25px 25px;
        color: plum ;
        font-weight: lighter;
        text-align: center;
        top: 22%;

}


.searchbar input {
    position: absolute;
    height: 50px;
    width: 500px;
    top: 29%;
    left: 39%;
    font-size: large;
    margin: 25px 25px;

}

.searchbar button {
    border-radius: 0 2px 2px 0;
    border: none;
    padding: 8px 16px;
    background-color: orange;
    color: white;
    cursor: pointer;
    outline: none;
}

.searchbar input,
.searchbar button {
    font-family: 'Core Sans G', Arial, sans-serif;
}
