.searchbar header {
        position: absolute;
        left: 40%;
        font-size: 50px;
        margin: 25px 25px;
        color: plum ;
        font-weight: lighter;
        text-align: center;
        top: 22%;

}


.searchbar input {
    position: absolute;
    height: 50px;
    width: 500px;
    top: 29%;
    left: 39%;
    font-size: large;
    margin: 25px 25px;

}

.searchbar button {
    display: flex;
    position: absolute;
    top: 385px;
    right: 830px;
    padding: 21px 32px;
    align-items: center;
    border: none;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 8px;
    z-index: 1;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-style: normal;
    padding: 8px 16px;
    background-color: plum;
    color: white;
    cursor: pointer;
    outline: none;
}

.searchbar input,
.searchbar button {
    font-family: 'Core Sans G', Arial, sans-serif;
}
