.searchbar header {
    position: absolute;
    left: 40%;
    font-size: 50px;
    margin: 28px 25px;
    color: plum;
    font-weight: lighter;
    text-align: center;
    top: 16%;

}


.searchbar input {
    position: absolute;
    height: 50px;
    width: 500px;
    border: plum;
    top: 22%;
    left: 37%;
    font-size: large;
    margin: 25px 25px;

}

.error-input-yogapose {
    width: fit-content;
    font-size: 22px;
    font-weight: 600;
    color: #2f61d0;
}

.searchbar button {
    display: flex;
    position: absolute;
    top: 25%;
    right: 880px;
    padding: 21px 32px;
    align-items: center;
    border: none;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 8px;
    z-index: 1;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-style: normal;
    padding: 8px 16px;
    background-color: plum;
    color: white;
    cursor: pointer;
    outline: none;
}

.searchbar input,
.searchbar button {
    font-family: 'Core Sans G', Arial, sans-serif;
}
