.questionnaire-submit-button    {
    position: absolute;
    margin: 1px;
    vertical-align: middle;
    left: 80%;
    top: 80%;
    width: 600px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: rgba(239, 175, 128, 0.31);
    font-size: 36px;
    color: mediumpurple;
    padding: 12px 24px;
    border-radius: 86px;
    border-color: transparent;
}
