.to-register-button-homepage {
    display: flex;
    position: absolute;
    width: 213px;
    height: 48px;
    bottom: 105px;
    left: 300px;
    padding: 21px 32px;
    align-items: center;
    border: none;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(144, 242, 225, 0.31);
    z-index: 1;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    cursor: pointer;
    color: #FFFFFF;
}

.to-register-button-homepage:hover {
    color: #EFAF80;
    border: 5px solid plum;
}

.to-sign-in-button-homepage {
    display: flex;
    position: absolute;
    width: 213px;
    height: 48px;
    bottom: 105px;
    right: 380px;
    padding: 21px 32px;
    align-items: center;
    border: none;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(239, 175, 128, 0.31);
    z-index: 1;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    cursor: pointer;
    color: #FFFFFF;
}

.to-sign-in-button-homepage:hover {
    color: #EFAF80;
    border: 5px solid plum;
}

.register-sign-up-submit-button {
    display: flex;
    position: absolute;
    right: 50%;
    width: 527px;
    height: 83px;
    top: 550px;
    margin: 32px;
    border-radius: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color:#FFF;
    font-family: Open Sans, sans-serif;
    font-size: 36px;
    font-style: normal;
    line-height: 26px; /* 44.444% */
    opacity: 60%;
    border: 2px solid #90F2E1;
    background: radial-gradient(rgba(239, 175, 128, 0.31) 0%, #90F2E1 100%);
    cursor: pointer;
}

.register-sign-up-submit-button:hover {
    color: plum;
    border: 10px solid #EFAF80;
}

.account-sign-in-submit-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 527px;
    height: 83px;
    margin: 32px;
    right: 10%;
    top: 175px;
    position: relative;
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    line-height: 26px; /* 44.444% */
    flex-shrink: 0;
    border: 2px solid #90F2E1;
    opacity: 60%;
    border-radius: 50px;
    cursor: pointer;
    background: radial-gradient(rgba(239, 175, 128, 0.31) 0%, #90F2E1 100%);
}

.account-sign-in-submit-button:hover {
    color: plum;
    border: 10px solid #EFAF80;
}

.profile-page-to-questionnaire-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 527px;
    height: 102px;
    margin: 20px 10px;
    left: 36%;
    top: 88%;
    position: absolute;
    color: #FFF;
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px; /* 44.444% */
    flex-shrink: 0;
    border: 2px solid rgba(239, 175, 128, 0.31);
    border-radius: 50px;
    background: rgba(239, 175, 128, 0.31);
}

.profile-page-to-questionnaire-button:hover {
    color: plum;
    border: 8px solid rgba(239, 175, 128, 0.31);
}

.questionnaire-submit-button {
    position: absolute;
    margin: 1px;
    left: 50%;
    top: 90%;
    width: 600px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: rgba(239, 175, 128, 0.31);
    font-size: 36px;
    color: mediumpurple;
    padding: 12px 24px;
    border-radius: 86px;
    border-color: transparent;
}

.questionnaire-submit-button:hover {
    color: plum;
    border: 10px solid #EFAF80;
}