/*.rectangle-container {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 823px;*/
/*    height: 159px;*/
/*    object-fit: cover;*/
/*    position: absolute;*/
/*    margin: 5px 0 50px 0;*/
/*}*/


.rectangle {
    display: flex;
    width: 950px;
    height: 159px;
    top: 40px;
    left: 800px;
    object-fit: cover;
    position: absolute;
    z-index: 0;
}


.header {
    position: relative;
    top: 30px;
    left: 960px;
    font-size: 60px;
    justify-content: center;
    margin: 25px 0 25px 0;
    font-weight: 600;
    line-height: 60px;
    background: sandybrown;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 100%;
    z-index: 1;
}

.quote-container {
    position: absolute;
    width: 950px;
    height: 159px;
    top: 37px;
    left: 800px;
}

.quote {
    position: relative;
    font-family: "italiana", sans-serif;
    font-weight: bold;
    text-align: center;
    top: 55px;
    font-size: 30px;
    color: white;
    justify-content: center;
    margin: 25px 0 25px 0;
    z-index: 1;
}

.questionnaire-form {
    width: 1800px;
    height: 800px;
}

.questions-container-1 {
    margin: 190px 880px;
}
.answers-container-1 {
    /*margin-top: 10px;*/
    margin-bottom: 10px;
}

.questions-container-2 {
    margin: 100px 880px;
}
.answers-container-2 {
    /*margin-top: 10px;*/
    margin-bottom: 10px;
}

.questions-container-3 {
    margin: 110px 880px;
}
.answers-container-3 {
    /*margin-top: 10px;*/
    margin-bottom: 10px;
}

a,
a:visited,
a:active {
    color: plum;
}

a:hover {
    color: rgba(144, 242, 225, 1);
}

.account-link {
    position: absolute;
    top: 1070px;
    left: 10px;
}

.disabled:hover {
    cursor: not-allowed;
}