.rectangle-container    {

    display:flex;
    justify-content: center;
    align-items: center;
    width: 823px;
    height: 159px;
    /*top:    35px;*/
    /*left:   575px;*/
    object-fit: cover;
    position: absolute;


}


.rectangle  {
    display: flex;
    width: 950px;
    height: 159px;
    top:    37px;
    left:   800px;
    object-fit: cover;
    position: absolute;
    z-index: 0;
}


.header {
    display: flex;
    position: relative;
    left: 890px;
    font-size: 40px;
    justify-content: center;
    align-content: center;
    text-shadow: 0 4px 4px rgba(144, 242, 225,1),rgba(255, 255, 255, 1);
    font-weight: 600;
    line-height: 60px;
    background:linear-gradient(280.97deg,rgba(239, 175, 128,0.51), rgba(144, 242, 225,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 100%;
    z-index: 1;
}

.questions-container {
    width: 823px;
    height: 159px;
    top:    250px;
    left:   575px;
    object-fit: cover;
    position: absolute;


}

.questions  {
    font-family: Inter, sans-serif;
    font-size: 30px;
    align-content: normal;
    color: aliceblue;
    font-weight: 450;
    line-height: 40px;
}

.answers    {
    font-family: Inter, sans-serif;
    font-size: 25px;
    align-content: center;
    color: rgba(239, 175, 128, 0.75);
    font-weight: 400;
    line-height: 40px;
}
.radio {
    font-family: Inter, sans-serif;
    font-size: 40px;
    align-content: center;
    text-shadow: 0px 4px 4px rgba(144, 242, 225,1),rgba(255, 255, 255, 1);
    font-weight: 400;
    line-height: 60px;
    background:linear-gradient(70deg,rgba(144,242,225,1),rgba(239, 175, 128,0.51));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.video-button  {
    position:   absolute;
    left: 50%;
    top: 350%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: transparent;
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 86px;
    border-color: transparent;
}