.answers-input {
    width: 823px;
    top: 120px;
    left: 975px;
    display: flex;
    flex-direction: row;
    font-family: Inter, sans-serif;
    position: relative;
    bottom: 32px;
    font-size: 20px;
    color: sandybrown;
    font-weight: 600;
    /*margin-left: 20px;*/
    margin: 0 10% 0 5%;
}
