.answers-input {
    width: 823px;
    top: 100px;
    left: 975px;
    display: flex;
    flex-direction: row;
    font-family: Inter, sans-serif;
    position: relative;
    font-size: 30px;
    color: sandybrown;
    font-weight: 600;
    margin: 0 10% 0 5%;
}
