* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*.MacBook-Pro-14 {*/
/*    display: flex;*/
/*    background: #90F2E1;*/
/*    background:linear-gradient(70deg,rgba(239, 175, 128,0.51),rgba(144,242,225,1));*/
/*}*/