
.video-rectangle  {
    width: 1650px;
    height: 120px;
    top:    37px;
    left:   200px;
    object-fit: cover;
    position: absolute;
}

.video-rectangle-container    {

    text-align: center;
    width: 1050px;
    height: 120px;
    top:    35px;
    left:   575px;
    object-fit: cover;
    position: absolute;


}

.header {
    font-family: Inter, sans-serif;
    font-size: 40px;
    align-content: center;
    text-shadow: 4px 4px rgba(144, 242, 225,1),rgba(255, 255, 255, 1);
    font-weight: 400;
    line-height: 60px;
    background:linear-gradient(280.97deg,rgba(144, 242, 225,1),rgba(255, 255, 255, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.video-one  {
    width: 538px;
    height: 289px;
    top:    200px;
    left:   50px;
    margin: 20px 20px;
    object-fit: cover;
    position: absolute;
}

.video-two  {
    width: 538px;
    height: 289px;
    top:    500px;
    left:   50px;
    margin: 20px 20px;
    object-fit: cover;
    position: absolute;

}

.video-three  {
    width: 538px;
    height: 289px;
    top:    800px;
    left:   50px;
    margin: 20px 20px;
    object-fit: cover;
    position: absolute;

}

.video-main {
    width: 838px;
    height: 589px;
    top:    250px;
    left:   800px;
    object-fit: cover;
    position: absolute;

}