.videopage-rectangle {
    width: 1650px;
    height: 120px;
    top: 37px;
    left: 400px;
    object-fit: cover;
    position: absolute;
}

.videopage-rectangle-container {
    text-align: center;
    width: 1050px;
    height: 120px;
    top: 35px;
    left: 685px;
    object-fit: cover;
    position: absolute;
}

.header {
    font-family: Inter, sans-serif;
    font-size: 40px;
    align-content: center;
    justify-content: center;
    text-shadow: 4px 4px rgba(144, 242, 225, 1), rgba(255, 255, 255, 1);
    font-weight: 600;
    line-height: 60px;
    background: linear-gradient(280.97deg, rgba(144, 242, 225, 1), rgba(255, 255, 255, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.favorites-text-profile-page {
    display: flex;
    flex-direction: row;
    font-size: 23px;
    font-weight: bold;
    position: absolute;
    top: 145px;
    left:-50%;
}

.added-to-favorites-message-small {
    display: flex;
    position: relative;
    color: plum;
    font-size: 15px;
    font-weight: 600;
    width: 425px;
    top: 82px;
    left: 170px;
    margin: 5px 0;

}

.iframe-container {
    width: 500px;
    height: 300px;
}

.video-one {

    display: flex;
    flex-direction: column;
    -ms-flex-align: start;
    position: relative;
    width: 425px;
    height: 250px;
    top: 200px;
    left: 170px;
    /*margin: -10px 0;*/

}

.like-button-video-one{
    width: 130px;
    height: fit-content;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    left: 20px;
    top: 50%;
    background: rgba(239, 175, 128, 0.31);
    font-size: 16px;
    color: mediumpurple;
    margin-left: 20px;
    padding: 12px 24px;
    border-radius: 86px;
    border-color: transparent;
}

.like-button-video-one:hover {
    border: 5px solid plum;
}


.video-main {
    width: 1338px;
    height: 789px;
    top: 250px;
    left: 800px;
    object-fit: cover;
    position: absolute;
}

.like-button-video-main {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    position: absolute;
    bottom: 45%;
    left: 29%;
    width: 130px;
    height: fit-content;
    word-wrap: break-word;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: rgba(239, 175, 128, 0.31);
    font-size: 16px;
    color: mediumpurple;
    margin-left: 35px;
    padding: 12px 24px;
    border-radius: 86px;
    border-color: transparent;
}

.like-button-video-main:hover {
    border: 5px solid plum;
}

.added-to-favorites-message-main {

}

.welcome-page-link-paragraph {
    font-size: 35px;
    position: absolute;
    top: 1050px;
    left: 1100px;
}
