.register-sign-up-submit-button {
    display: flex;
    position: relative;
    right: 30px;
    width: 527px;
    height: 83px;
    margin: 96px 10px;
    border-radius: 50px 50px 50px 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: rgba(92, 185, 102, 1);
    font-family: Open Sans, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 44.444% */
    opacity: 32%;
}