.outer-container-profile {
    display: flex;
    width: 100vw;
    height: 1100px;

}

.container-favorites {
    display: flex;
    flex-direction: column;
    width: 650px;
    justify-content: left;
    align-self: flex-start;
    margin-top: 180px;
}


.profile-page-favorites-heading{
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
    font-weight: normal;
}


.favorites-iframe {
    width: 325px;
    height: 200px;
    margin: 10px 150px;

}


.container-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:1000px;
    height: 1100px;
}

.profile-page-header {
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 60px;
    color:plum ;
    font-weight: 250;

}

.profile-page-welcome-paragraph {
    width: 1050px;
    text-align: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 600;
    word-wrap: inherit;
    line-height: 50px;
    margin-bottom: 175px;
}

.yogapose-result {
    width: 325px;
    height: 200px;
    margin: 10px;
}

.wrong-yogapose-error   {
    /*position: absolute;*/
    margin-left: 42%;
    font-size: 22px;
    font-weight: 600;
    color: plum;
    align-items: center;
    top: 480px;
}
