.profile-page-heading {
    position: absolute;
    left: 40%;
    font-size: 80px;
    margin: 0 15px;
    color: rgba(239, 175, 128) ;
    font-weight: lighter;

}

.profile-page-welcome-paragraph {
    position: absolute;
    width: 1050px;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    word-wrap: inherit;
    line-height: 50px;
    top: 12%;
    left: 28%;
}

.error-message-yogapose-search {
    position: absolute;
    height: 50px;
    width: 500px;
    top: 35%;
    left: 39%;
    font-size: large;
    margin: 25px 25px;

}


.yogapose-result {
    display: flex;
    flex-direction: column;
    -ms-flex-align: center;
    position: relative;
    width: 325px;
    height: 200px;
    top: 350px;
    left: 127%;
    margin: 10px;

}

.wrong-yogapose-error   {
    position: absolute;
    margin-left: 42%;
    font-size: 22px;
    font-weight: 600;
    color: plum;
    align-items: center;
    top: 380px;
}


.profile-page-favorites-heading{
    position: absolute;
    /*left: 1%;*/
    top: 22%;
    margin: 10px 25px;
    font-size: 35px;
    color: plum;
    font-weight: normal;

}

.favorite-one {
    position: absolute;
    left: 5%;
    top: 30%;
    margin: 30px;
}

.favorite-two {
    position: absolute;
    left: 5%;
    top: 43%;
    margin: 30px;
}

.favorite-three {
    position: absolute;
    left: 5%;
    top: 56%;
    margin: 30px;
}

.favorite-four {
    position: absolute;
    left: 5%;
    top: 69%;
    margin: 30px;
}


