@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Just+Me+Again+Down+Here&display=swap');
main    {
    width: 100vw;
    height: 120vh;
}
h1  {
    width: 100vw;
    height: 100vh;
    position: absolute;
    font-family: Inter, sans-serif;
    font-size: 185px;
    text-align: left;
    text-shadow: 4px 4px rgba(144, 242, 225,1),rgba(255, 255, 255, 1);
    left: 150px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 350px;
    background:linear-gradient(280.97deg,rgba(144, 242, 225,1),rgba(255, 255, 255, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
h3 + .rectangle-small {
    margin-bottom: 50px;
}
h3  {
    height: 368px;
    left: 870px;
    position: relative;
    font-family: "just me again down here", cursive;
    font-size: 95px;
    font-weight: normal;
    text-align: center;
    text-shadow: 4px 4px rgba(144, 242, 225,1),rgba(255, 255, 255, 1);
    top: 375px;
    width:705px;
    border-color: antiquewhite;
    background:linear-gradient(31deg,rgba(144, 242, 225,75),rgba(239, 175, 128,0.51));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rectangle-small  {
    height: 145px;
    left: 1250px;
    object-fit: cover;
    position: absolute;
    top: 525px;
    width: 32%;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container-buttons  {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.rectangle-big  {
    height: 175px;
    left: 90px;
    object-fit: cover;
    position: absolute;
    top: 328px;
    width: 136%;
}

.register-button {
    position: relative;
    left: 575%;
    top: 800%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(144, 242, 225, 0.31);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.sign-in-button    {
    position: relative;
    left: 70%;
    top: 800%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(144, 242, 225, 0.31);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}