
.homepage-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 100px 0;

}

.header-container {
    flex-basis: 800px;
    /*Als er meer ruimte is, mag hij NIET groter worden*/
    flex-grow: 0;
    /*Als er minder ruimte is, krimpt hij 1 fractie (dus alles) van de ingeleverde ruimte*/
    flex-shrink: 1;
}

.header-container img {
    width: 100%;
}

.rectangle-small  {
    position: absolute;
    width: 800px;
    height: 139px;
    right: 300px;
    top: 460px;
    z-index: 0;
}

#sign-up-or-in {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
}

.rectangle-container {
    flex-basis: 800px;
    /*Als er meer ruimte is, mag hij NIET groter worden*/
    flex-grow: 0;
    /*Als er minder ruimte is, krimpt hij 1 fractie (dus alles) van de ingeleverde ruimte*/
    flex-shrink: 1;
}

.rectangle-big {
    position: absolute;
    width: 1500px;
    height: 199px;
    left: 86px;
    top: 668px;
    z-index: 0;
}


.register-container {

    position: absolute;
    width: 437px;
    height: 214px;
    left: 122px;
    top: 561px;

}


.register-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 213px;
    height: 48px;
    padding: 12px 24px;
    position: absolute;
    border: none;
    right: 112px;
    top: 155px;
    background: rgba(144, 242, 225, 0.31);
    border-radius: 8px;
    z-index: 1;
}

.under-register-text {
    position: absolute;
    width: 332px;
    height: 51px;
    left: 175px;
    top: 780px;
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 39px;
    text-align: center;
    z-index: 1;
}

.register-button + .sign-in-button {
    /*margin-right: 24px;*/

}


.sign-in-container {

    position: absolute;
    width: 437px;
    height: 214px;
    left: 843px;
    top: 561px;

}

.sign-in-button    {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    border: none;
    position: absolute;
    width: 213px;
    height: 48px;
    left: 375px;
    top: 155px;
    background: rgba(144, 242, 225, 0.31);
    border-radius: 8px;
}

.under-sign-in-text {
    position: absolute;
    width: 332px;
    height: 51px;
    right: 425px;
    top: 780px;
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 39px;
    text-align: center;
    z-index: 1;

}

.register-button:hover {
    color:#EFAF80;
    border: 5px solid plum;
}

.sign-in-button:hover {
    color: #EFAF80;
    border: 5px solid plum;

}
