.sign-in-header {
    width: 553px;
    height: 122px;
    flex-shrink: 0;
    color: #FFF;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 1000px;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-size: 66px;
    font-weight: 600;
    line-height: normal;
}

.rectangle-center {
    height: 550px;
    width: 1050px;
    top: 200px;
    left: 750px;
    object-fit: cover;
    position: relative;
}

.input-container {
    height: 550px;
    width: 1050px;
    top: -250px;
    left: 1100px;
    position: relative;
}

h5 {
    font-family: Inter, sans-serif;
    font-size: 40px;
    text-shadow: 0px 4px 4px rgba(144, 242, 225, 1), rgba(255, 255, 255, 1);
    font-weight: 480;
    line-height: 150px;
    background: linear-gradient(280.97deg, rgba(144, 242, 225, 1), rgba(255, 255, 255, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.username {
    height: 10%;
    width: 30%;
    left: 25%;
}

.password {
    height: 10%;
    width: 30%;
    left: 25%;
}

.sign-in-submit-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 527px;
    height: 82px;
    margin: 250px 5px;
    right: 50px;
    position: relative;
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 44.444% */
    flex-shrink: 0;
    border: 2px solid #90F2E1;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(239, 175, 128, 0.31) 0%, #90F2E1 100%);
}