.answers-input {
    display: flex;
    flex-direction: row;
    font-family: Inter, sans-serif;
    position: relative;
    bottom: 32px;
    font-size: 85px;
    color: sandybrown;
    font-weight: 800;
    margin-left: 20px;
}
