.video-one {
    width: 538px;
    height: 289px;
    top: 200px;
    left: 50px;
    margin: 50px 50px 100px 50px;
    object-fit: cover;
    position: absolute;
}
.video-two {
    width: 538px;
    height: 289px;
    top: 500px;
    left: 50px;
    margin: 50px;
    object-fit: cover;
    position: absolute;
}

.video-three {
    width: 538px;
    height: 289px;
    top: 800px;
    left: 50px;
    margin: 50px;
    object-fit: cover;
    position: absolute;
}

.video-main {
    width: 1338px;
    height: 789px;
    top: 250px;
    left: 800px;
    object-fit: cover;
    position: absolute;
}