.register-header {

    width: 703px;
    height: 145px;
    justify-content: center;
    flex-shrink: 0;
    position: absolute;
    left: 700px;
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 85px;
    font-weight: 400;
    line-height: normal;
    backdrop-filter: blur(2px);
    z-index: 1;

}


.rectangle-signup  {
    position: absolute;
    /*justify-content: center;*/
    margin: 190px 0 156px 0;
    left: 600px;
    width: 942px;
    height: 640px;
    z-index: 0;

}

/*.form-container {*/
/*    position:absolute;*/
/*    z-index: 1;*/
/*}*/

.signup-form    {
    position: absolute;
    left: 830px;
    top: 300px;
    width: 1050px;
    z-index: 1;
}



h5  {
    font-family: Inter, sans-serif;
    font-size: 25px;
    text-shadow: 0px 4px 4px rgba(144, 242, 225,1),rgba(255, 255, 255, 1);
    font-weight: 480;
    line-height: 50px;
    background:linear-gradient(280.97deg,rgba(144, 242, 225,1),rgba(255, 255, 255, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
}

.input {
    top: 500px;
    left: 650px;
    height: 75px;
    width: 475px;
    z-index: 1;

}


.signup-button {

    display: flex;
    width: 527px;
    height: 83px;
    margin: 96px 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color:rgba(92, 185, 102, 1);
    font-family: Open Sans, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 44.444% */
    opacity: 32%;

}

a,
a:visited,
a:active {
    color: #0d3b66;
}

a:hover {
    color: #ea7e1f;
}

.account-link   {
    position: absolute;
    bottom: 70px;
    left: 70px;
}

