.register-header {
    width: 703px;
    height: 140px;
    justify-content: center;
    flex-shrink: 0;
    position: absolute;
    top: 1%;
    left: 760px;
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 85px;
    font-weight: 400;
    line-height: normal;
    z-index: 1;
}

.benefits {
    position: absolute;
    top: 280px;
    right: 80px;
    font-family: 'Just Me Again Down Here', cursive;
    color: #FFFFFF;
    font-size: 32px;
    width: fit-content;
}

.benefits-of-yoga-list {
    display: flex;
    text-align: left;
    flex-direction: column;
    list-style: -moz-ethiopic-numeric;
    margin-left: 20px;
}

.rectangle-signup {
    position: absolute;
    justify-content: center;
    margin: 190px 0 156px 0;
    left: 625px;
    width: 942px;
    height: 640px;
    z-index: 0;
}

.signup-form {
    position: absolute;
    left: 870px;
    top: 300px;
    width: 1050px;
    z-index: 1;
}

.input-name {
    font-family: Inter, sans-serif;
    font-size: 45px;
    text-shadow: 0px 4px 4px rgba(144, 242, 225, 1), rgba(255, 255, 255, 1);
    font-weight: 300;
    line-height: 80px;
    background: linear-gradient(280.97deg, rgba(144, 242, 225, 1), rgba(255, 255, 255, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
}

.input {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    height: 75px;
    width: 475px;
    border-radius: 8px;
    z-index: 1;
}

.error-message-sign-up {
    font-family: Open Sans, sans-serif;
    font-size: 15px;
    color: #d90f33;
}

.account-link-paragraph {
    position: absolute;
    bottom: 70px;
    margin-left: 30px;
}

