* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-angled-gradient {

  background:linear-gradient(70deg,rgba(239, 175, 128,0.51),rgba(144,242,225,1));
  width: 100vw;
  height: 120vh;
  padding: 14px;
}

.macbook-pro {
  align-items:flex-start;
  background-size: 100% 100%;
  display:flex;
  padding: 0 13px;
  width: 1293px;
  height: 885px;
}